<h1 class="mb-4 cannabis-leaf">Notifications</h1>
<div class="row">
  <div class="col">
    <p><strong>Unread Count:</strong> <%= current_user.notifications.unread.count %></p>
    <a href="/notifications/mark_all_read" class="btn btn-secondary mb-3" data-turbo-method="put">Mark All as Read</a>
    <ul class="list-group">
      <% @notifications.each do |notification| %>
        <li class="list-group-item <%= notification.read? ? '' : 'list-group-item-info' %>">
          <span class="fw-bold"><%= notification.notification_type.capitalize %></span>: <%= notification.message %><br>
          <small><%= time_ago_in_words(notification.created_at) %> ago</small>
          <a href="/notifications/<%= notification.id %>" class="btn btn-sm btn-info float-end">View</a>
        </li>
      <% end %>
    </ul>
    <%= paginate @notifications %>
  </div>
</div>